<div class="row" style="margin-top: 15%">
  <div class="col-sm-4 col-sm-offset-4">

    <form role="form" ng-submit="login()" method="post">
      <rd-widget>
        <rd-widget-header icon="fa-lock" title="{{'Sign In' | translate}}">
          <img gravatar-src="credentials.email" class="img-circle"
               alt="User Image" gravatar-size="33">
        </rd-widget-header>
        <rd-widget-body>

          <div class="callout callout-danger" ng-if="loginError">
            <p>{{loginError.message | translate}}</p>
          </div>
          <auto:fields fields="schema" data="credentials"
                       options="options"></auto:fields>

        </rd-widget-body>

        <rd-widget-footer>
          <button type="submit" class="btn btn-success btn-block">
            {{'Sign in' | translate}}
          </button>
          <a href='#/register' class="btn bg-default btn-block">{{'Or register'
            |
            translate}}</a>
          <a ng-repeat="provider in authProviders" ng-hide="provider.link"
             ng-click="socialLogin(provider)"
             class="btn btn-block btn-{{provider.class}}">
            {{provider.provider | ucfirst}}
          </a>
        </rd-widget-footer>
      </rd-widget>

    </form>

  </div>
</div>
