<div class="row" style="margin-top: 15%">
  <div class="col-sm-4 col-sm-offset-4">
    <form class="form-signin" role="form" ng-submit="register()">
      <rd-widget>
        <rd-widget-header icon="fa-lock" title="{{'Register' | translate}}">
          <img gravatar-src="credentials.email" class="img-circle"
               alt="User Image" gravatar-size="33">
        </rd-widget-header>
        <rd-widget-body>
          <div class="body bg-gray">
            <div class="callout callout-danger" ng-if="registerError">
              <p>{{registerError.message | translate }}</p>
            </div>
            <auto:fields fields="schema" data="registration"
                         options="options"></auto:fields>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          <button type="submit" class="btn bg-success btn-block"
                  ng-class="{'btn-primary':joinForm.$valid}">
            {{'Register' | translate}}
          </button>
          <a href='#/login' class="btn bg-default btn-block">{{'Or sign in' |
            translate}}</a>
          <a ng-repeat="provider in authProviders" ng-hide="provider.link"
             ng-click="socialLogin(provider)"
             class="btn btn-block btn-{{provider.class}}">
            {{provider.provider | ucfirst}}
          </a>
        </rd-widget-footer>
      </rd-widget>
    </form>
  </div>
</div>
