<div class="row">
  <div class="col-sm-12">
    <span class="pull-right">
      <a ui-sref="^.add" class="btn btn-default btn-sm" translate>Add</a>
    </span>
  </div>
</div>

<div ng-repeat="item in posts">
  <rd-widget>
    <rd-widget-header title="{{item.title}}" ui-sref="^.view({id: item.id})"></rd-widget-header>
    <rd-widget-body>

      <div class="row">
        <div class="col-sm-9" style="white-space: pre;">{{item.content}}</div>
        <div class="col-sm-3">
          <img ng-if="item.image" class="col-sm-12"
               ng-src="{{item.image}}?id={{item.id}}"/>
        </div>
      </div>
    </rd-widget-body>


    <rd-widget-footer>
      <span class="text-muted">
        {{item.created | date:'medium'}}
        &middot;
        0 comments
        &middot;
        0 likes
      </span>

      <span class="pull-right">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>

    </rd-widget-footer>

  </rd-widget>

  <hr/>
</div>


<div class="box" ng-show="!posts.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no posts
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a post!</p>
  </div>
</div>

