<div class="user pull-right">
  <div class="item dropdown">
    <a href="3" class="dropdown-toggle" data-toggle="dropdown">
      <img src="" gravatar-src="currentUser.email" class="img-circle" alt="User Image">
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">
        {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}
      </li>
      <li class="divider"></li>
      <li class="link">
        <a href="" ui-sref="app.users.profile">
          {{ 'Profile' | translate }}
        </a>
      </li>
      <li class="link">
        <a href="" ng-click="logout()" translate>Sign out</a>
      </li>
    </ul>
  </div>
  <div class="item dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-flag flag-icon flag-icon-{{selectLocale.country.toLowerCase() }}"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li ng-repeat="(index, locale) in locales" ng-show="locale != selectLocale">
        <a href="" ng-click="setLocale(index)">
          <span class="flag-icon flag-icon-{{locale.country.toLowerCase() }}"></span> {{locale.name | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
