<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <rd-widget>
        <rd-widget-header title="{{ 'Dashboard' | translate }}">
        </rd-widget-header>
        <rd-widget-body>
          <div class="row">
            <small-box ng-repeat="box in boxes | orderBy:['-quantity', 'name']"
                       name="{{ box.name }}" href="{{ box.href }}"
                       color="{{ box.color }}" icon="{{ box.icon }}"
                       quantity="{{ box.quantity }}">
            </small-box>
          </div>
        </rd-widget-body>
      </rd-widget>

      <hr/>
      <rd-widget>
        <rd-widget-header title="{{ 'Variables' | translate }}">
        </rd-widget-header>
        <rd-widget-body>
          <div class="row">
            <div class="col-md-6">
              <h4 translate>Current user</h4>
              <pre>{{currentUser | json}}</pre>
            </div>
            <div class="col-md-6">
              <h4 translate>Settings</h4>
              <pre>{{settings | json}}</pre>
            </div>
          </div>
        </rd-widget-body>
      </rd-widget>

    </div>
  </div>
</section>
