<div class="form-group" ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{id}}">
		{{ options.templateOptions.label || options.label || 'Text'}}
		{{ (options.templateOptions.required || options.required) ? '*' : ''}}
	</label>
	<input type="text"
		   class="form-control"
		   id="{{id}}"
           formly-dynamic-name="options.key"
           formly-custom-validation="options.validators"
		   placeholder="{{options.placeholder}}"
		   aria-describedby="{{id}}_description"
		   ng-required="options.templateOptions.required || options.required"
		   ng-disabled="options.templateOptions.disabled || options.disabled"
		   ng-model="model[options.key || index]">
   <p id="{{id}}_description" class="help-block" ng-if="options.templateOptions.description || options.description">{{options.templateOptions.description || options.description}}</p>
</div>