<div class="checkbox" ng-class="{'has-error': options.formField.$invalid}">
	<label>
		<input type="checkbox"
               id="{{id}}"
               formly-dynamic-name="options.key"
               formly-custom-validation="options.validators"
			   aria-describedby="{{id}}_description"
			   ng-required="options.templateOptions.required || options.required"
			   ng-disabled="options.templateOptions.disabled || options.disabled"
			   ng-model="model[options.key || index]">
		{{options.label || 'Checkbox'}}
		{{ ( options.templateOptions.required || options.required ) ? '*' : ''}}
	</label>
   <p id="{{id}}_description" class="help-block" ng-if="options.templateOptions.description || options.description">{{options.templateOptions.description || options.description}}</p>
</div>